In [2]:
# 판다스 패키지 불러오기
import pandas as pd # as는 약어입니다.
# 넘파이 패키지 불러오기
import numpy as np

In [3]:
data = { 'Name': ['S1', 'S2', 'S3'],
        'Age': [25, 28, 22],
        'Score': [95, 85, 75]}

In [4]:
df = pd.DataFrame(data)

# 열 이름 변경
df.columns = ['이름', '나이', '점수']

# 인덱스명 변경
df.index = ['하나', '둘', '셋']

### CRUD(Create, Read, Update, Delete) 연습하기 ###
# 컬럼 추가하기
df['지역'] = ['강동', '강서', None]

# 컬럼 삭제하기 - 방법 1
del df['지역']

# 값 변경하기
df['점수']['셋'] = 22 # 권고하는 방식은 아님. -> 왜냐하면 체인 인덱싱 떄문, 1. '점수' 열을 선택해 시리즈 객체 반환 -> 2. 반환된 시리즈에서 '셋'으로 접근
# df['점수']가 복사본을 반환하는 거라면 원본 df가 영향을 받지 않을 수 있어요. 판다스의 체인 인덱싱은 반환 객체가 원본인지 복사본인지 불명확하기 때문임.
df.loc['셋', '점수'] = 73 # 직접 접근이라서 항상 원본을 수정함.

# 점수 열이 25 초과이면 'over 25'열에 True, 아니면 False를...
df['over 25'] = df['점수'] > 25
df['over 25_2'] = np.where(df['점수'] > 25, '짱!', '바보래요')
# 'over 25' 열 삭제 
df = df.drop('over 25', axis = 1)
df = df.drop('over 25_2', axis = 1)

C:\Users\01071\AppData\Local\Temp\ipykernel_6840\1801064798.py:17: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['점수']['셋'] = 22 # 권고하는 방식은 아님. -> 왜냐하면 체인 인덱싱 떄문, 1. '점수' 열을 선택해 시리즈 객체 반환 -> 2. 반환된 시리즈에서 '셋'으로 접근
C:\Users\01071\AppData\Local\Temp\ipykernel_6840\1801064798.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['점수']['셋'] = 22 # 권고하는 방식은 아님. -> 왜냐하면 체인 인덱싱 떄문, 1. '점수' 열을 선택해 시리즈 객체 반환 -> 2. 반환된 시리즈에서 '셋'으로 접근

In [5]:
data = { 'Name': ['S1', 'S2', 'S3'],
        'Age': [25, 28, 22],
        'Score': [95, 85, 75]}
df2 = pd.DataFrame(data)

In [6]:
df2.describe

<bound method NDFrame.describe of   Name  Age  Score
0   S1   25     95
1   S2   28     85
2   S3   22     75>

In [7]:
df

    이름  나이  점수
하나  S1  25  95
둘   S2  28  85
셋   S3  22  73

In [8]:
print(df.iloc[2, 2])
print(df.loc['셋', '점수'])

73
73

In [9]:
# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}

In [10]:
# 실습 1 : 인구밀도를 의미하는 density 칼럼을 추가
df = pd.DataFrame(data)
df['density'] = (df['population'] * 1000000) / df['area'] # 인구밀도(면적 당 인구 수) = 인구수 / 면적 

# 실습 2 : 인구밀도가 300을 초과하는 국가의 수도와 인구를 선택해주세요.
display(df.loc[df['density'] > 300, ['country', 'population']])

# 실습 3 : 'density_ratio' 열을 추가해주세요. (인구밀도/평균 인구밀도)
df['density_ration'] = df['density'] / sum(df['density'])

# 실습 4 : 영국의 수도를 'Cambridge'로 변경해주세요.
df.loc[(df['country'] == 'United Kingdom'), 'capital'] = 'Cambridge'

# 실습 5 : 인구 밀도가 100 초과 300 미만인 국가들을 표시해주세요.
display(df.loc[(df['density'] > 100) & (df['density'] < 300)])

# 실습 6: 수도가 7글자 이상인 국가들을 표시해주세요. (힌트: string의 len( )를 사용하세요.)
display(df.loc[df['capital'].str.len() >= 7])

# 실습7: 수도에 'am' 이 포함되는 국가들을 표시해주세요. (힌트: string의 contains( )를 사용하세요.)
display(df.loc[df['capital'].str.contains('am')])

# 실습 8: countries 데이터프레임을 countries.csv로 출력후 다시 countries_final이라는 데이터프레임에 담아 import해 출력하세요.
# (index는 'country' 열을 사용합니다.

       country  population
0      Belgium        11.3
3  Netherlands        16.9

          country  population    area    capital     density  density_ration
2         Germany        81.3  357050     Berlin  227.699202        0.166700
4  United Kingdom        64.9  244820  Cambridge  265.092721        0.194076

          country  population    area    capital     density  density_ration
0         Belgium        11.3   30510   Brussels  370.370370        0.271151
3     Netherlands        16.9   41526  Amsterdam  406.973944        0.297949
4  United Kingdom        64.9  244820  Cambridge  265.092721        0.194076

          country  population    area    capital     density  density_ration
3     Netherlands        16.9   41526  Amsterdam  406.973944        0.297949
4  United Kingdom        64.9  244820  Cambridge  265.092721        0.194076

In [11]:
data = {
        'Class' : ['A','B','C','A','B','C','C'],
        'Name' : ['짱구','짱아','철수','맹구','훈이','유리','흰둥이'],
        'Age' : [20, 19, 21, 22, 24, 25, 26],
        'Score' : [90., 95., 75., 80, 70, 85, 90],
        }

In [12]:
df = pd.DataFrame(data)
# 실습1. 시험점수(Score)가 80점 이상인 사람들의 Result항목에 Pass를 기입하여 출력하세요.
# 실습2. 시험점수(Score)가 80점 미만인 사람들의 Result항목에 Fail을 기입하여 출력하세요.
df['Result'] = np.where(df['Score'] >= 80, 'Pass' , 'Fail')

In [13]:
df

  Class Name  Age  Score Result
0     A   짱구   20   90.0   Pass
1     B   짱아   19   95.0   Pass
2     C   철수   21   75.0   Fail
3     A   맹구   22   80.0   Pass
4     B   훈이   24   70.0   Fail
5     C   유리   25   85.0   Pass
6     C  흰둥이   26   90.0   Pass